body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    background: #555;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background: #444;
}

section {
    padding: 2em;
    text-align: center;
}

.project {
    margin-bottom: 2em;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
